node_modules/
.env
server/db/*.sqlite
server/db/*.sqlite-shm
server/db/*.sqlite-wal
public/uploads/*
!public/uploads/.gitkeep
js/dist/
*.log
.DS_Store
.cache/
dist/
server/google-service-account.json
